{% load static %}

<!doctype html>
<html>
    <main>
        <div>
            <h1>Create a New List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</html>
