{% load static %}

<!doctype html>
<html>
    <main>
        <div>
            <h1> Are you sure? </h1>
            <form method="post">
                {% csrf_token %}
                <button>Delete</button>
             </form>
            </form>
        </div>
    </main>
</html>
