<!doctype html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
        <div>
            <h1> {{ items.name }} </h1>
            <h2>Tasks</h2>
            <a href="{% url 'show_list' %}">Main Page</a>
            <a href="{% url 'edit_todo' items.id %}">Update</a>
            <a href="{% url 'delete_todo' items.id %}">Delete</a>
            <a href="{% url 'edit_item' items.id %}">Update Item</a>


        </div>
            <table>
                <thead>
                  <tr>
                    <th>Tasks</th>
                    <th> Due date </th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items.items.all %}
                    <tr>
                        <td><a href="{% url 'edit_item' items.id %}"> {{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </main>
  </body>
</html>
