{% load static %}

<!doctype html>
<html>
    <main>
        <div>
            <h1> Update List </h1>
            <form method="post">
                {% csrf_token %}
                {{ todo_list_form.as_p }}
                <button>Save</button>
            </form>
        </div>
    </main>
</html>
