{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
  <header>
  </header>
    <main>
      <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'create_todo' %}"> Create a New List </a></p>
        <p><a href="{% url 'create_todo_item' %}"> Create a New Item </a></p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Numer of Items</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>
                <a href="{% url 'show_detail' item.id %}">{{ item.name }}</a>
              </td>
              <td>{{ item.items.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
</body>
</html>
